<title>A TITLE: TINY APP</title>

<% if (!username) { %>
<form method="POST" action="/login">
  <input type="text" name="username">
  <input type="submit" value="Submit">
</form>
<% } else { %>
  <p>
    <%= username %>
    <form method="POST" action="/logout">
      <button type='submit'>Logout</button>
    </form>
  </p>
<% } %>