<!DOCTYPE html>
<html lang="en">
<head>

  <% include ./partials/_header %>
</head>
<body>
  <!-- Add your EJS code here -->
  <ul>
    <% for(var i in urls) { %>
      <li>
        <form method="POST" action="/urls/<%= i %>/delete">
          <%= i %> : <%= urls[i] %>
          <a href="/urls/<%= i %>">Edit</a>
          <button type='submit'>Delete</button>
        </form>
      </li>

    <% } %>
  </ul>
</body>
</html>

