<!DOCTYPE html>
<html lang="en">
<head>
   <% include partials/_header %>
</head>
<body>
    <!-- Add your EJS code here -->
    <ul>
      <form action="/urls/<%= shortURL %>" method="POST">
        <li><%= shortURL%> : <%= urls[shortURL]%> <input id="newURL" type="text" name="newURL" placeholder="New URL" style="margin-left: 30px"><button type='submit'>Update</button></li>
      </form>
    </ul>
</body>
</html>