<!DOCTYPE html>
<html lang="en">
<head>
   <title>Tiny App - Login</title>
</head>
<body>
  <!-- Add your EJS code here -->
  <h1>Login</h1>
  <% if (!user) { %>
  <form method="POST" action="/login">
    <div>
      EMAIL: <input type="email" name="email" placeholder="Your Email" style="margin-left: 30px"><br>
      PASSWORD: <input type="password" name="password" placeholder="Your Password" style="margin-left: 30px">
    </div>
    <input type="submit" value="Login">
  </form>
  <% } else { %>
    <p>
      Welcome: <%= user.id %>
      <form method="POST" action="/logout">
        <button type='submit'>Logout</button>
      </form>
    </p>
  <% } %>

</body>
</html>