<!DOCTYPE html>
<html lang="en">
<head>
   <title>Tiny App - Registration</title>
</head>
<body>
    <!-- Add your EJS code here -->

    <form action="/register" method="POST">
      <div>
        EMAIL: <input type="email" name="email" placeholder="Email" style="margin-left: 30px"><br>
        PASSWORD: <input type="password" name="password" placeholder="Password" style="margin-left: 30px">
      </div>
      <div>
        <button type='submit'>Register</button>
      </div>
    </form>

</body>
</html>